# The following options will be passed to all MySQL clients
[client]
port=3306
socket      = /opt/websrv/tmp/mysql.sock

# The MySQL server
[mysqld]
federated
port        = 3306
datadir     = /opt/websrv/data/mysql
socket      = /opt/websrv/tmp/mysql.sock
pid-file    = /opt/websrv/tmp/mysqld.pid
key-buffer-size         = 64M
max-allowed-packet      = 1M
table-open-cache        = 64
sort-buffer-size        = 512K
net-buffer-length       = 8K
read-buffer-size        = 256K
read-rnd-buffer-size    = 512K
myisam-sort-buffer-size = 8M
thread-cache-size       = 8
tmp-table-size          = 100M
max-heap-table-size     = 100M
max-connections         = 1000
back-log                = 100
long-query-time         = 1
slow-query-log          = 1
log-error               = /opt/websrv/logs/error.log
slow-query-log-file     = /opt/websrv/logs/slowqueris.log
binlog-format           = mixed
log-bin                 = mysql-bin
binlog-format           = mixed
server-id               = 1
explicit_defaults_for_timestamp = 1

[mysqldump]
quick
max-allowed-packet = 16M

[mysql]
