# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]
port = 3306
socket = /opt/websrv/tmp/mysqld.sock

# This group is read by the server
[mysqld]
feedback
port    = 3306
datadir = /opt/websrv/data/mysql
socket  = /opt/websrv/tmp/mysqld.sock
log-bin             = mysql-bin
pid-file            = /opt/websrv/tmp/mysqld.pid
log-error           = /opt/websrv/logs/error.log
binlog-format       = mixed
symbolic-links      = 0
slow_query_log_file = /opt/websrv/logs/slowqueris.log

[server]

[mysqld]
#skip-networking

[galera]
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2

#bind-address=0.0.0.0
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

[embedded]

[mariadb]
